* {
    margin: 0;
    padding: 0;
}
  
html,
body {
    height: 100%;
    width: 100%;
    background-image: url(../assets/Background-image.png);
    background-size: cover;
    font-family: "Nunito";
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.auth {
    max-width: 300px;
}

.auth h2 {
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 40px;
}

.auth .form-group {
    padding-bottom: 10px;
    max-width: 300px;
}

.auth .form-group label {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.auth .form-group input {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    padding: 1.375rem .75rem;
}

.auth .form-group input:focus {
    outline: none !important;
    border-color: #719ece;
    box-shadow: 0 0 10px #719ece;
}

.auth .auth-text h5 {
    padding-top: 15px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.auth .auth-text a {
    text-decoration: underline;
    color: #ffffff;
}

.auth #button {
    display: flex;
    margin: 20px auto auto auto;
    color: White;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.6rem 1rem;
    background-color: #96aa95;
    border-radius: 10px;
    border: none;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    transition: ease 0.3s all;
}
.auth #button:hover {
    box-shadow: none;
    cursor: pointer;
    transition: ease 0.3s all;
}

.form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 15px;
    color: #b92c09;
}